@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using MultiLanguageMVCNET6.Controllers;
@using MultiLanguageMVCNET6.Resources.Languages
@inject IStringLocalizer<Lang> Localizer
@inject IHtmlLocalizer<Lang> HtmlLocalizer
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @*<h1 class="display-4">@ViewData["PageTitle"]</h1>*@
    <h1 class="display-4">@Localizer["welcome_pc"]</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>@HtmlLocalizer["home_description_pc"]</p>
    <p>@ViewLocalizer["view.home.text"]</p>
</div>
